:root {
    --card-background-light: lightgoldenrodyellow;
    --card-background-dark: #333;
    --card-text-light: black;
    --card-text-dark: #e0e0e0;
}

body.dark-mode {
    --card-background: var(--card-background-dark);
    --card-text: var(--card-text-dark);
}

body {
    --card-background: var(--card-background-light);
    --card-text: var(--card-text-light);
}

.cardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    padding: 1rem;
    box-sizing: border-box;
}