body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

/* slavophilenet/src/components/style/Header.css */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--secondary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body.dark-mode .header {
    background-color: #333;
    border-bottom-color: #444;
}

.homeButton {
    text-decoration: none;
}

.homeIcon {
    width: 4rem; /* Set a fixed width */
    height: 4rem; /* Set a fixed height */
    transition: transform 0.3s;
}

.homeButton:hover .homeIcon {
    transform: scale(1.1);
}

.authButtons {
    display: flex;
    gap: 1rem;
}

.authButton {
    color: #61dafb;
    text-decoration: none;
    font-size: 1rem;
    border: 2px solid #61dafb;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.authButton:hover {
    background-color: #61dafb;
    color: white;
}

.header h1 {
    margin-left: 1rem;
    flex-grow: 1; /* Allow the h1 to take up available space */
    user-select: text; /* Make the text highlightable */
    color: inherit; /* Inherit color from parent */
    text-decoration: none; /* Remove underline */
}

.headerTitle {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
}