/* Default sidebar styles */
.sidebar {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--primary-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 70px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 8px;
    text-align: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: var(--accent-color);
}

/* Media query for smaller screens */
@media screen and (max-width: 1700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar ul {
        display: none;
    }
    .sidebar.active ul {
        display: block;
    }
    .sidebar-toggle {
        margin-top: 70px;
        display: block;
        background-color: #111;
        color: white;
        text-align: center;
        padding: 10px;
        cursor: pointer;
    }
}