.donateButtonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
    margin-right: 20px;
    position: fixed;
    top: 30px;
    right: 0;
}

.donateButton {
    width: 150px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
    border-radius: 20px;
}

.donateButton:hover {
    transform: scale(1.1);
}