.idiom-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px; /* Adjust based on your layout */
}

.idiom-page-header {
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    padding: 1rem;
    width: 100%;
    border-top: 1px solid var(--border-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    margin-top: 60px; /* Adjust based on header height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-table-container {
    margin-top: 20px; /* Space below the header */
    margin-bottom: 20px; /* Space above the footer */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
}

.profile-table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--background-color);
    color: var(--text-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.profile-table th, .profile-table td {
    border: 1px solid var(--border-color);
    padding: 10px;
    text-align: left;
}

.profile-table th {
    background-color: var(--dark-background-color);
    color: var(--light-text-color);
}

.profile-picture {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.floating-box {
    position: relative;
    padding: 20px;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 400px; /* Adjust as needed */
    margin: 20px auto; /* Center horizontally */
}